# -------------------------
# Exclude all files with passwords, user related data, or are system files
# -------------------------

# ignore api config files with sensitive data
dist/api/config/config.php
dist/api/config/input.php

# ignore all files starting with . or ~, like .htaccess
.*
~*

#ignore node modules folder
node_modules

#ignore temp build files
build/*

# track this file .gitignore (i.e. do NOT ignore it)
!.gitignore
# ignore log files
*.log


# -------------------------
# Whitelisted Files: track these files, if they exist
# -------------------------

!.gitignore
!README.md
!CHANGELOG.md


# -------------------------
# Exclude directories
# -------------------------

dev/
