# -------------------------
# Whitelisted Files: track these files, if they exist
# -------------------------

!.gitignore
!README.md
!CHANGELOG.md
!.htaccess

# -------------------------
# Exclude all files with passwords or user related data or system files
# -------------------------

# ignore api config files with sensitive data
dist/api/config/config.php
dist/api/config/input.php

.*
~*
*.log
build/*
package-lock.json

# -------------------------
# Exclude directories
# -------------------------

dev/
dist/
node_modules/
