# -------------------------
# Exclude all files with passwords, user related data, or are system files
# -------------------------

config.php

# ignore all files starting with . or ~, like .htaccess
.*
~*

# track this file .gitignore (i.e. do NOT ignore it)
!.gitignore
# ignore log files
*.log


# -------------------------
# Whitelisted Files: track these files, if they exist
# -------------------------

!.gitignore
!README.md
!CHANGELOG.md


# -------------------------
# Exclude directories
# -------------------------

dev/
